<div class="container d-flex flex-row justify-content-center juegos text-center align-items-center" style="height: 90vh;">
    
    <div class="card" (click)="onClickJuego('ahorcado')">
        <div class="card-header">Ahorcado</div>
        <div class="card-body">
            <img src="assets/ahorcado.png" alt="Ahorcado" class="img-juego">
        </div>
    </div>
    <div class="card" (click)="onClickJuego('mayormenor')">
        <div class="card-header">Mayor o menor</div>
        <div class="card-body">
            <img src="assets/mayoromenor.png" alt="Mayor o menor" class="img-juego">
        </div>
    </div>
    <div class="card" (click)="onClickJuego('preguntados')">
        <div class="card-header">Preguntados</div>
        <div class="card-body">
            <img src="assets/preguntados.png" alt="Preguntados" class="img-juego">
        </div>
    </div>
    <div class="card" (click)="onClickJuego('multiplicalo')">
        <div class="card-header">Multiplícalo</div>
        <div class="card-body">
            <img src="assets/multiplicalo.png" alt="Multiplicalo" class="img-juego">
        </div>
    </div>
</div>