<div class="chat-container" id="chat-container">
  <div class="messages" #chatContainer>
    <div *ngFor="let msg of messages" [ngClass]="{ 'own-message': isOwnMessage(msg), 'other-message': !isOwnMessage(msg) }" class="message">
      <div class="sender">{{ isOwnMessage(msg) ? 'Tú' : msg.sender }}</div>
      <div class="text">{{ msg.message }}</div>
      <div class="created_at">{{ msg?.created_at | date : "M/d/yy, h:mm a"  }}</div>
    </div>
  </div>

  <div class="input-container">
    <input [(ngModel)]="message" (keyup.enter)="saveMessage()" placeholder="Escribe tu mensaje..." />
    <button (click)="saveMessage()" [disabled]="!message.trim()">Enviar</button>
  </div>
</div>
