<div class="login-container">
    <h3>Login</h3>
    <input type="text" placeholder="Username" [(ngModel)]="username" class="login-input" />

    <input type="password" placeholder="Password" [(ngModel)]="password" class="login-input" />

    <button (click)="login()" class="login-button">
        login
    </button>

    <button name="autocompletar" (click)="onAutocompletar()" class="login-button">Autocompletar</button>

    <div class="register-link-container">
        <a routerLink="../register" class="register-link">Register</a>
    </div>
    @if (this.failedLogin) {
        <div class="login-error">
            <p>El usuario o la contraseña no son correctos. </p>
        </div>
    }
</div>
