.carta {
  border: 3px solid;
  backdrop-filter: blur(2px); 
  background-color: rgba(155,193,188,0.7);
}

 
 .imagen-ahorcado {
    size: 25px 25px;
  }

  
    .word {
      letter-spacing: 1rem;
      margin: 1.5rem 0;
    }
  
    .letters {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      margin-right: 80px; 
      max-width: 50vw;
      gap: 0.5rem;
  
      button {
        width: 40px;
        height: 40px;
        font-size: 1rem;
      }
    }
  
    .status {
      margin-top: 1rem;
    }