body {
    background-image: url("./assets/fondo.jpg");
}

.tarjeta-login {
    width: 20vw;
    height: 30vw;
    background-color: rgb(179, 179, 179);
    border-radius: 5px;
    box-shadow: 4px 4px;
}