<div class="container d-flex flex-row justify-content-center align-items-center tarjeta">
    <div class="p-2 justify-content-center align-items-center">
        <img src="assets/FotoPerfil.jpg" alt="Foto de perfil" width="75%" class="justify-content-center align-items-center border">
    </div>
    <div class="p-2">
        <h3>Valentin Thourte</h3>
        <div>
            <p>Hola! Mi nombre es Valentín Thourte. Nací el 23 de Mayo del 2001 en San Martín de los Andes, Neuquén. <br>
                Actualmente me encuentro trabajando para una empresa de Bahía Blanca llamada Aoniken Servicios IT SA, manteniendo el backend de una API REST en C# y .NET <br>
                Me faltan únicamente 4 materias para conseguir mi título como Técnico Universitario en Programación en la UTN, sede regional Avellaneda. 
                <br>
                Mi juego será el "Multiplícalo": Consiste en intentar acumular el máximo puntaje posible. Para lograrlo, se comenzará con un puntaje inicial de 10, y un número multiplicador
                se mostrará por pantalla. Cuando el jugador presione el boton de STOP, el multiplicador dejará de aumentar y el puntaje del jugador será su puntaje anterior multiplicado por el número multiplicador.
                Dicho numero se reiniciará en uno y volverá a comenzar el juego. Sin embargo, en algún momento aleatorio el número dejará de aumentar por si solo. Si esto sucede antes de que el jugador presione STOP, perderá el juego.
            </p>
        </div>
    </div>
</div>