<div class="container d-flex justify-content-center align-items-center" style="height: 90vh">
  <div class="container p-4 d-flex flex-column align-items-center game-container">

    <h2 style="color: white; margin-bottom: 20px">{{ perdio ? 'Fin del juego!' :  'Adivina la bandera'}}</h2>



    @if (perdio) {
      <div class="fin-juego-container d-flex flex-column align-items-center justify-content-center text-center mt-4">
        <p class="fin-texto mb-2">Tu puntaje final fue:</p>
        <h2 class="fin-puntaje mb-4">{{ score }}</h2>
        <button class="btn btn-light btn-lg" (click)="reiniciarJuego()">Volver a jugar</button>
      </div>
    }
    @else {
      
    <div class="container datos d-flex justify-content-between align-items-center">
      <div class="vidas-container d-flex">
          <img *ngFor="let v of vidasArray; let i = index" 
              src="assets/vida.png" 
              alt="Vida {{ i + 1 }}" 
              class="vida-icon m-2" />
      </div>
      <h3 class="m-0" style="color:white">Score: {{ score }}</h3>
      </div>


    <div class="question-image mb-4">
      <img [src]="paisActual?.flags?.svg" alt="Pregunta" class="img-fluid rounded shadow">
    </div>


    <div class="row w-100 options-grid">
      <div class="col-12 col-md-6 mb-3" *ngFor="let opcion of opciones; let i = index">
        <button 
          class="btn w-100 py-3 option-btn"
          [ngClass]="{
            'btn-primary': !opcionSeleccionada,
            'btn-success': opcionSeleccionada && opcion === paisActual,
            'btn-danger': opcionSeleccionada && opcion !== paisActual
          }"
          (click)="seleccionarOpcion(opcion)"
          [disabled]="!!opcionSeleccionada"
        >
          {{ opcion.name.common }}
        </button>
      </div>
    </div>

    }
  
  </div>
</div>
