.game-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  backdrop-filter: blur(5px); 
  background-color: rgba(155,193,188,0.7);
  border-radius: 10px;
  border: 3px solid;
}

.question-image img {
  max-height: 300px;
  object-fit: contain;
}

.options-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option-btn {
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
  }
}

.game-card {
    background: none;
}

.vidas-container {
  display: flex;
  gap: 8px;
}

.vida-icon {
  width: 32px;
  height: 32px;
}


.fin-juego-container {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 30px 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  color: white;
}

.fin-texto {
  font-size: 1.3rem;
}

.fin-puntaje {
  font-size: 3rem;
  color: #ffc107; // amarillo tipo Bootstrap warning
}

.fin-juego-container button {
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.fin-juego-container button:hover {
  background-color: #e2e6ea;
  color: #000;
}