.game-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  backdrop-filter: blur(5px); 
  background-color: rgba(237, 106,90,0.5);
  border-radius: 10px;
}

.question-image img {
  max-height: 300px;
  object-fit: contain;
}

.options-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option-btn {
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
  }
}

.game-card {
    background: none;
}

.vidas-container {
  display: flex;
  gap: 8px;
}

.vida-icon {
  width: 32px;
  height: 32px;
}